/zeqktools/AltosTools.Maps/bin
/zeqktools/AltosTools.Maps/obj
/zeqktools/AltosTools.WindowsForms/obj
/zeqktools/AltosTools.WindowsForms/bin
/zeqktools/AltosTools/obj
/zeqktools/AltosTools/bin
/zeqktools/AltosTools.MapsTest/bin
/zeqktools/AltosTools.MapsTest/obj
/zeqktools/AltosTools.Test/bin
/zeqktools/AltosTools.Test/obj
